{% extends 'base.html' %}
{% load static %}
{% block title %} Login{% endblock %}
{% block head %}
{% include "partials/auth_head.html" %}
{% endblock%}
{% block body %}
<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">
      <!-- Register -->
      <div class="card">
        <div class="card-body">
          <!-- Logo -->
          {% include "partials/brand.html" %}
          <!-- /Logo -->
          <h4 class="mb-2">Welcome to Users! 👋</h4>
          <p class="mb-4 text-center">Please sign-in to your account and to view notifications</p>
          {% include "partials/messages.html" %}
          <form id="formAuthentication" class="mb-3" action="index.html" method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <label for="login_id" class="form-label">Reg. No or Staff No.</label>
              <input type="text" class="form-control" name="username" placeholder="Enter your Registration number" autofocus/>
            </div>
            <div class="mb-3 form-password-toggle">
              <div class="d-flex justify-content-between">
                <label class="form-label" for="password">Password</label>
              </div>
              <div class="input-group input-group-merge">
                <input type="password" id="password" class="form-control" name="password" placeholder="Enter password" aria-describedby="password" />
                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
              </div>
            </div>
            <div class="mb-3">
              <button class="btn btn-primary d-grid w-100" type="submit">Sign in</button>
            </div>
          </form>

          <p class="text-center">
            <span>New on our platform?</span>
            <a href="{% url 'auth:register' %}">
              <span>Create an account</span>
            </a>
          </p>
        </div>
      </div>
      <!-- /Register -->
    </div>
  </div>
</div>
{% include "partials/auth_script.html" %}
{% endblock %}