{% extends 'base.html' %}
{% load static %}
{% block title %} View Notification{% endblock %}
{% block head %}
{% include "partials/auth_head.html" %}
{% endblock%}
{% block body %}
<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <!-- Menu -->

    {% include "partials/sidebar.html" %}
    <!-- / Menu -->
    <!-- Layout container -->
    <div class="layout-page">
      {% include "partials/login_nav.html" %}
      <div class="content-wrapper">
        <!-- Content -->
        <div class="container-xxl flex-grow-1 container-p-y">
          <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"><a href="{% url 'auth:notifications' %}">Notifications</a> /</span>Notice</h4>
          {% include "partials/messages.html" %}
           <!-- Horizontal -->
           <h5 class="pb-1 mb-4 text-center">Details of the notification</h5>
           <div class="row mb-5">
             <div class="col-md-8 mx-auto">
               <div class="card mb-3">
                 <div class="row g-0">
                   <div class="col-md-4 col-sm-12">
                    {% if notify.image %}
                    <a href="{{ notify.image.url }}" target="_blank" rel="noopener noreferrer">
                      <img class="card-img card-img-left" src="{{ notify.image.url }}" alt="Card image" />
                    </a>
                    {% else %}
                    <a href="{% static 'uploaded/uploads/update.jpg' %}" target="_blank" rel="noopener noreferrer">
                      <img class="card-img card-img-left" src="{% static 'uploaded/uploads/update.jpg' %}" alt="Card image"/>
                    </a>
                    {% endif %}
                   </div>
                   <div class="col-md-8 col-lg-8 col-sm-12">
                     <div class="card-body">
                       <h5 class="card-title"> {{ notify.title }} </h5>
                       <p class="card-text mb-5">
                         {{ notify.description }}.
                       </p>
                       {% if notify.file %}
                       <div class="row">
                        <div class="col-md-12 mx-auto">
                          {% if notify.file %}
                          <a href="{{ notify.file.url }}" download class="btn btn-outline-success mt-3" target="_blank" rel="noopener noreferrer">Download File</a>
                          {% endif %}
                        </div>
                       </div>
                       {% endif %}
                     </div>
                   </div>
                 </div>
                 <div class="card-footer bg-light">
                  <small class="text-muted"><b>Posted by:</b> {{ notify.created_by.fullname }}</small>
                  <small class="text-muted"><b>Posted to:</b> {{ notify.receiver }}</small>
                  <small class="text-muted"><b>Date Posted:</b> {{ notify.date_created }}</small>
                </div>
               </div>
             </div>
           </div>
           <!--/ Horizontal -->
        </div>
        <!-- / Content -->
        {% include "partials/login_footer.html" %}

        <div class="content-backdrop fade"></div>
      </div>
      <!-- Content wrapper -->
    </div>
    <!-- / Layout page -->
  </div>

  <!-- Overlay -->
  <div class="layout-overlay layout-menu-toggle"></div>
</div>
{% include "partials/auth_script.html" %}
{% endblock %}