{% load static %}
<script src="{% static 'libs/jquery/jquery.js' %}"></script>
<script src="{% static 'libs/popper/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
<script src="{% static 'js/menu.js' %}"></script>
<!-- Main JS -->
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/close.js' %}"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>