{% load static %}
<footer
	class="page-footer bg-image"
	style="background-image: url('static/img/world_pattern.svg')"
>
	<div class="container">
		<div class="row mb-5">
			<div class="col-lg-4 py-3">
				<h3>Announcement System</h3>
				<p>
					A platform for the dissemination of information for the Department of
					computer science kaduna polytechnic.
				</p>

				<div class="social-media-button">
					<a><span class="mai-logo-facebook-f"></span></a>
					<a><span class="mai-logo-twitter"></span></a>
					<a><span class="mai-logo-google-plus-g"></span></a>
					<a><span class="mai-logo-instagram"></span></a>
					<a><span class="mai-logo-youtube"></span></a>
				</div>
			</div>
			<div class="col-lg-4 py-3">
				<h5>Quick Links</h5>
				<ul class="footer-menu">
					<li><a>KadPoly</a></li>
					<li><a>Ministry of Education</a></li>
				</ul>
			</div>
			<div class="col-lg-4 py-3">
				<h5>Contact Us</h5>
				<p>Hammar Tukar Building Kaduna polytechnic</p>
				<a href="#" class="footer-link">+234 814 654 3239</a> <br />
				<a href="#" class="footer-link">cs.kadpoly@gmail.com</a>
			</div>
		</div>

		<p class="text-center" id="copyright">
			Copyright &copy; 2024. by the-impossible
		</p>
	</div>
</footer>
