{% extends 'base.html' %}
{% load static %}
{% block title %} Home{% endblock %}
{% block head %}
	{% include 'partials/head.html' %}
{% endblock %}
{% block body %}
  <!-- Back to top button -->
  <div class="back-to-top"></div>

  {% include "partials/nav.html" %}
  <div class="container">
    <div class="page-banner home-banner">
      <div class="row align-items-center flex-wrap-reverse h-100">
        <div class="col-md-6 py-5 wow fadeInLeft">
          <h1 class="mb-4">Get Up-to-date!</h1>
          <p class="text-lg text-grey mb-5">Get informed with the recent happenings from the Department of computer science</p>
          <a href="#" class="btn btn-primary">Get Started </a>
        </div>
        <div class="col-md-3 py-5 wow zoomIn">
          <div class="img-fluid img-responsive text-center">
            <img src="{% static 'img/board.svg' %}" width="400" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Blog -->
  <div class="page-section">
    <div class="container">
      <div class="text-center wow fadeInUp">
        <div class="subhead">Our Board</div>
        <h2 class="title-section">Read Latest Information from the Department</h2>
        <div class="divider mx-auto"></div>
      </div>

      {% if notifications %}
      <div class="row mt-5">
        {% for notify in notifications %}
        <div class="col-lg-3 col-md-4 col-12 py-3 wow fadeInUp">
          <div class="card h-100 v-50">
            <img class="card-img-top" src="{{ notify.image.url }}" alt="Card image cap" />
            <div class="card-body">
              <h5 class="card-title">{{ notify.title|slice:"18"|title }}...</h5>
              <p class="card-text">{{ notify.description|slice:"100" }}...</p>
              <div class="row">
                <div class="mx-auto">
                  <a href="javascript:void(0)" class="btn btn-outline-primary btn-sm mt-3">View Details</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <div class="container">
        <div class="row align-items-center flex-wrap-reverse h-100">
          <div class="col-md-6 py-5 wow fadeInLeft mx-auto">
            <h1 class="mb-4 text-center">No update found!</h1>
            <p class="text-lg text-grey mb-5 text-center">No information yet, if you are a student try logging in</p>
            <div class="row">
              <a href="{% url 'auth:login' %}" class="btn btn-primary mx-auto">Login </a>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>

 {% include "partials/footer.html" %}

{% include "partials/script.html" %}

{% endblock %}